<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Login.css">
    <title>Login</title>
  </head>

  <body>
    <section class="flex-container-column">
      <h1>Login</h1>
      <div class="go-login"><span>Are you a member?</span> <span style="color: blue; font-weight: 700;">Sign Up
          Here</span>
      </div>
      <section class="flex-container-column">
        <form action="">
          <section class="flex-container-column form-group box-shadow transition-all-300">

            <label for="name">
              <span>name</span>
              <input id="name" type="text" placeholder="Enter your name">
            </label>

            <label for="password">
              <span>Password</span>
              <input id="password" type="password" placeholder="Enter your password">
            </label>

          </section>
          <div class="flex-container-row button-group">
            <button class="transition-all-300 btn submit-btn">Login</button>
            <button class="transition-all-300 btn reset-btn">Reset</button>
          </div>
        </form>
        <span class="forgot">Forgot Password?</span>
      </section>
      </div>
  </body>

</html>